@import "tailwindcss";

:root{
    --brown:#6D1600;
    --black:#282A3A;
    --grey:#D9D9D9;
    --bright-grey:#F6F6F6;
    --white:#FFFFFF;
}
@font-face {
    font-family: 'Inter'; 
    src:url('/fonts/Inter.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayFairDisplay'; 
    src:url('/fonts/PlayfairDisplay.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayFairDisplaySC'; 
    src:url('/fonts/PlayfairDisplaySC.ttf') format('truetype');
}
@font-face {
    font-family: 'PlusJakartaSans'; 
    src:url('/fonts/PlusJakartaSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins'; 
    src:url('/fonts/Poppins.ttf') format('truetype');
}
body{
    font-family: 'Inter';
    font-size:16px;
}
button,a{
    cursor:pointer;
}
input,button{
    transition: all 0.2s linear;;
}
button:active{
    transform: scale(0.9);
}
input:focus-visible{
    outline: none;
    transform: scale(1.01);
}
.choices__inner{
    box-sizing: border-box;
}
.choices__list--multiple .choices__item{
    background-color: var(--brown) !important;
    border:1px solid var(--brown) !important;
}
.choices:is([data-type*=select-multiple],[data-type*=text]) .choices__button{
    border-left:1px solid var(--white) !important;
}
.explore .images{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
.explore .images img{
    width:100%;
}
.explore div{
    flex:1;
}
.explore .images div{
    padding:5px;
}
.radius1 img{
    border-radius:0px 80px;
}
.radius-1 img{
    border-radius:0px 40px;
}
.radius2 img{
    border-radius:80px 0;
}
.explore h1{
    font-family: 'PlayFairDisplay';
    max-width: 600px;
    padding-bottom: 16px;
}
.explore{
    text-align: center;
}
.explore p{
    font-size: 20px;
    max-width: 573px;
    margin: auto;
}
.explore a{
    font-family: 'PlayFairDisplaySC';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--brown);
    border-radius: 32px 0;
    color: var(--white);
    padding: 6px 60px 10px 30px;
    display: block;
    width: max-content;
    margin: auto;
    margin-top:24px;
    margin-bottom:40px;
    position: relative;
}
.explore a img{
    width: 22px;
    top: 10px;
    right: 30px;
}
.proof-item .count{
    margin: 0;
    color:var(--black);
    letter-spacing: -2px;
}
.proof-item{
    padding:0 30px;
    border-right: 1px solid transparent;
    border-image:url('/images/border-right.png');
    border-image-slice: 1;
}
.proof-item:last-child{
    border-right:none;
}
.proof-item-text{
    font-family: 'PlayFairDisplay';
    color:var(--black);
    margin:0;
}
.rate img{
    width:20px;
}
.products-title{
    text-align:center;
}
.products-title span{
    font-size: 20px;
    color:var(--black);
    opacity: 56%;
}
.products-title p{
    font-size:36px ;
    color:var(--black);
    font-family: 'PlayFairDisplay';
    margin: 0;
    margin-bottom:40px;
}
.product-types{
    background: var(--bright-grey);
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: 40px;
    margin-bottom:40px;
}
.product-types button{
    border: none;
    padding: 16px 40px;
    background: none;
    border-radius: 40px;
    font-size: 20px;
    color: rgba(40, 42, 58, 0.7);
}
.product-types button.active{
    background: white;
}
.slider-items{
    display:flex;
    flex-wrap:wrap;
}
.slider-item{
    width: calc(100%/3 - 18px);
    padding: 10px;
    margin:6px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px -3px #282a3a70;
}
.item-img{
    width:100%;
}
.add-to-cart img{
    width:20px;
    height: 20px;
}
.addToCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-name{
    font-size: 24px;
    font-family: 'PlusJakartaSans';
    line-height: 140%;
    color: var(--black);
    margin: 10px 0;
}
.slider-item a{
    text-decoration: none;
}
.rate{
    display: flex;
    align-items: center;
}
.rate p{
    margin: 0 7px;
    font-size:20px;
    color: rgba(40, 42, 58, 0.7);
}
.rate span{
    font-size: 16px;
    color: rgba(40, 42, 58, 0.72);
}
.about-coffee{
    font-size: 16px;
    color: rgba(40, 42, 58, 0.72);
}
.addToCart span{
    font-size: 20px;
    color: rgba(40, 42, 58, 0.7);
    margin-right: 3px;
    font-weight: bold;
}
.add-to-cart{
    border: none;
    color: var(--white);
    background: var(--brown);
    border-radius: 8px;
    height: 38px;
    width: 80px;
    padding-top: 3px;
    transition: transform 0.1s linear;
}
@media screen and (min-width: 992px) {
    .explore h1{
        font-size: 56px;
    }
    .proof-item .count{
        font-size: 64px;
    }
    .proof-item-text{
        font-size: 24px;
    }
}
@media screen and (max-width: 991px) {
    .explore h1{
        font-size: 46px;
    }
    .proof-item .count {
        font-size: 50px;
    }
    .proof-item-text{
        font-size: 20px;
    }
    .product-types button {
        padding: 7px 30px;
    }
    .products-title p {
        font-size: 30px;
    }
    .about-title p{
        margin: 0 !important;
        font-size: 30px !important;
    }
    .product-name {
        font-size: 20px;
    }
    .add-to-cart {
        height: 31px;
        width: 60px;
    }
    .about-inner p {
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {
    .explore .radius1 img{
        border-radius:0px 40px;
    }
    .explore .radius2 img{
        border-radius:40px 0;
    }
    .explore h1 {
        font-size: 36px;
    }
    .explore p {
        font-size: 18px;
    }
    .explore a{
        font-size:16px;
    }
    .explore a img{
        width: 18px;
    }
    .proof-item-text {
        font-size: 18px;
    }
    .proof-item .count {
        font-size: 30px;
    }
    .proof-item {
        padding: 0 10px;
    }
    .slider-item{
        width: calc(100%/2 - 20px);
        margin:10px;
    }
    .products-title p, .about-title p{
        font-size: 26px;
    }
    .product-types button {
        padding: 7px 18px;
        font-size: 18px;
    }
    .products-title p,.product-types{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 575px) {
    .explore .radius1 img{
        border-radius:0px 20px;
    }
    .explore .radius2 img{
        border-radius:20px 0;
    }
    .explore .images div {
        padding: 2px;
    }
    .explore h1 {
        font-size: 24px;
    }
    .explore p {
        font-size: 16px;
    }
    .explore a img {
        right: 26px;
    }
    .explore a{
        padding-right:50px;
    }
    .slider-item{
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .menu {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background: var(--black);
        box-sizing: border-box;
        display: inline-block;
        opacity: 0;
        z-index:-1;
        transition: all 0.3s linear;
    }
    .menu.show {
        opacity: 1;
        z-index:2;
        top:0;
    }
}
